#lesson {
    background-color: purple;
    color: yellow;
  }

  .background{
      background-color: blue;
      color: orange;
  }
  
  .title {
    color: darkblue;
  }
  
  #email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  